{% extends 'base.html' %}

{% block content %}

<ul>
    <div>
        <h1>Journal</h1>
        <form method = "post"> 
            {% csrf_token %} 
            {{ form.as_p }} 
            <button class="btn btn-success my-2 my-sm-0" type="submit">Save</button> 
        </form>
        <br><br>
        <form class="form-inline my-2 my-lg-1" action="">
            <input
            type="search"
            placeholder="Search Title"
            aria-label="Search Title"
            name="search"
            value="{{search_term}}"
            id="">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% for jour in journal %}
            <h2>Title: {{ jour.title|linebreaksbr }}</h2>
            {% if user.is_superuser %}
                <p>author: {{ jour.author|linebreaksbr }}</p>
            {% endif %}
            <p>{{ jour.text|linebreaksbr }}</p>
            <a class="btn btn-success" href="{% url 'EditJournalView' pk=jour.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'DeleteJournalView' pk=jour.pk %}">Delete</a>
            <hr>
        {% endfor %}
    </div>
</ul>
{% endblock %}