{% extends 'base.html' %}

{% block content %}
<h1>To Do List</h1>
<ul>
    <div class="div-inline my-2 my-lg-1">
        <form class="form-inline my-2 my-lg-1" action="">
            <input
            type="search"
            placeholder="search"
            aria-label="search"
            name="search"
            value="{{search_term}}"
            id="">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <form class="form-inline my-2 my-lg-1" method = "post"> 
            {% csrf_token %} 
            {{ form }} 
            <button class="btn btn-success my-2 my-sm-0" type="submit">add</button> 
        </form>
        {% for o in todo %}
            {% if o.checkbox%}
            <form method="POST" id="checkboxchecked">
                <ul>
                    <li>
                    {{o.title}}
                      <a class="btn btn-success my-2 my-sm-0" href="{% url 'FinishToDoView' pk=o.pk %}">Complete</a>
                      <a class="btn btn-secondary my-2 my-sm-0" href="{% url 'EditToDoView' pk=o.pk %}">Edit</a>
                      <a class="btn btn-danger my-2 my-sm-0" href="{% url 'DeleteToDoView' pk=o.pk %}">Delete</a>
                    </li>
                </ul>
            </form>
            {% endif %}
            {% endfor %}

            <br><br>
        </div>
    </ul>
    
    <h1>Finished Task</h1>
        <ul>
        <div>
            {% for o in todo %}
                {% if o.checkbox == False %}
                <form method="POST" id="checkboxchecked">
                    <ul>
                        <li>
                            {{o.title}}
                             <a class="btn btn-danger my-2 my-sm-0" href="{% url 'DeleteToDoView' pk=o.pk %}">Delete</a>
                        </li>
                    </ul>
                </form>
                {% endif %}
            {% endfor %}
        </div>
    </ul>
{% endblock %}
